# Bonus: Temperature Analysis I

In [76]:
import pandas as pd
from datetime import datetime as dt

In [77]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [78]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [74]:
# Set the date column as the DataFrame index
#df = df.set_index("date", inplace=True)
# Problem occurs when date set to index

In [79]:
# Drop the date column
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [80]:
from scipy import stats

In [81]:
# Filter data for desired months
june = df[df['date'].dt.month==6]
dic = df[df['date'].dt.month==12]

In [82]:
# Identify the average temperature for June
june['tobs'].mean()

74.94411764705882

In [83]:
# Identify the average temperature for December
dic['tobs'].mean()

71.04152933421226

In [84]:
# Create collections of temperature data
temp_june = june['tobs']
temp_dic  = dic['tobs']

In [85]:
# Run paired t-test
print(temp_june,temp_dic)
print(stats.ttest_ind(temp_june, temp_dic))

133      78
134      76
135      78
136      76
137      77
         ..
19492    79
19493    74
19494    74
19495    76
19496    75
Name: tobs, Length: 1700, dtype: int64 305      76
306      74
307      74
308      64
309      64
         ..
19323    71
19324    71
19325    69
19326    65
19327    65
Name: tobs, Length: 1517, dtype: int64
Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

Hypothesis rejected. Pvalue out of range, the result is pvalue=3.9025129038616655e-191 and to approve the hypothesis should be less than 0.05